/* External CSS */
* {
    font-family: 'Segoe UI';
}

/* Global variable */
:root {
    --header-color: red;
    --header-font: 30px;
}

#header {
    color: var(--header-color);
    font-size: var(--header-font);
}

.body {
    /* Local variable */
    --body-font: 16px;
    font-size: var(--body-font);
}